:root {
    --stormy: #646A82;
    --blue: #97A0C4;
    --icy: #C4CBE7;
    --berry: #DB1D6F;
    --ribbon: #E36A98;
    --babypink: #FFACCC;
}

h1 {
    font-size: 96px;
    font-family: "Space Mono", monospace;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-family: "Space Mono", monospace;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 300;
    text-transform: uppercase;
}

p {
    font-size: 12px;
    font-family: "Space Mono", monospace;
    font-weight: 200;
}

a {
    font-size: 22px;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--berry);
    transition: all .5s;
}

a:hover {
    color: var(--ribbon);
}

