:root {
    --stormy: #646A82;
    --blue: #97A0C4;
    --icy: #C4CBE7;
    --berry: #DB1D6F;
    --ribbon: #E36A98;
    --babypink: #FFACCC;
}

/* NAV BA% */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 17px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(255, 178, 224, 0.3);
    color: black;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 7px 35px;
    border-radius: 35px;
    cursor: pointer;
    transition: all .3s ease;
}

.nav-links li a:hover {
    border-radius: 0px;
}

.sharp {
    border-radius: 0px !important;
}

.sharp:hover {
    border-radius: 35px !important;
}

.logo {
    width: 50px;
    height: 60px;
    cursor: pointer;
}

.logo svg {
    fill: black;
    transition: all .5s;
}

.logo svg:hover {
    fill: var(--berry);
}

/* BOTTOM BAR */

.bottom-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;

    p {
        padding: 15px 40px;
    }
}

footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.running-line {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 150px;
    padding: 25px 0 35px 0;
    line-height: 1;
    background-color: rgba(227, 106, 152, .45);
    margin-bottom: 150px;
}

.running-line ul {
    list-style: none;
    display: flex;
}

.running-line ul li {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    margin-left: 5px;
}

.running-line ul li a {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.contact-wrap {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contact-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
        list-style: none;
    }

    .email {
        text-transform: lowercase;
    }

    ul li a {
        color: var(--stormy);
    }

    ul li a:hover {
        color: var(--blue);
    }
}

.contact-form {
    width: 60%;
}

.contact-me {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    border: solid 1px var(--berry);
    width: 85%;
    height: 80%;
    padding: 2%;

    textarea {
        width: 96%;
        height: 70%;
        padding: 2%;
        outline: none;
        border: solid 1px var(--berry);
        margin-bottom: 1%;
        font-family: "Space Mono", monospace;
        background-color: rgba(255, 178, 224, .3);
    }

    textarea:focus {
        border: solid 1px var(--babypink);
    }
}

.inside-form {
    display: flex;
    gap: 1%;
    justify-content: space-between;
    width: 100%;
    height: 18%;


    input {
        padding: 2%;
        width: 70%;
        outline: none;
        border: solid 1px var(--berry);
        font-family: "Space Mono", monospace;
        background-color: rgba(255, 178, 224, .3);

    }

    input:focus {
        border: solid 1px var(--babypink);
    }

    button {
        width: 28%;
        outline: none;
        font-family: "Space Mono", monospace;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--berry);
        border: 1px solid var(--berry);
        background-color: var(--babypink);
        border-radius: 8px;
        transition: all .3s ease;
    }

    button:hover {
        background-color: var(--ribbon);
        border: 1px solid var(--ribbon);
        color: white;
    }
}

.footer-bottom {
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-bottom: 50px;

    a {
        color: black;
        scroll-behavior: smooth;
        font-size: 20px;
    }
}