* {
    padding: 0;
    margin: 0;
}

:root {
    --stormy: #646A82;
    --blue: #97A0C4;
    --icy: #C4CBE7;
    --berry: #DB1D6F;
    --ribbon: #E36A98;
    --babypink: #FFACCC;
}


body {
    width: 100%;
    max-width: 1728px;
}

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

h1 {
    max-width: 1300px;
    text-align: justify;
    text-transform: uppercase;
}

.inter {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.logo-spinner {
    width: 350px;
    position: absolute;
    margin-bottom: 90px;
    z-index: -3;
}

.banner {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-section {
    width: 95%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 
.banner-image {
    justify-content: space-around;
    width: 50vmin;
    height: 60vmin;
    max-height: 950px;
    max-width: 800px;
} */

.banner-image img{
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 70px;
    border: 1px solid black;
    justify-content: space-around;
    width: 50vmin;
    height: 60vmin;
    max-height: 950px;
    max-width: 800px;
}
