.work-header {
    margin-top: 150px;
    width: 95%;
    max-width: 1500px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: headerLoad .5s ease;

    .filter-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .filter {
            margin: 0;
            padding: 0;
            width: 49%;
        }
    }
}

@keyframes headerLoad {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.view-switch {
    text-align: end;
    font-size: 1.8rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    cursor: pointer;

    .active-switch {
        color: $berry;
    }

    .grid-switch,
    .list-switch {
        transition: color .2s;
    }

    .grid-switch:hover,
    .list-switch:hover {
        color: $ribbon;
    }
}

@media only screen and (min-width: 2200px) {

    .work-header{
        max-width: 1700px;
    }
}

@media screen and (max-width: 834px) {
    
    .view-switch {
        display: none;
    }

    .work-header {
        height: 20vh;
    }

}