.work-projects {
    margin-top: 2em;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
        max-width: 49%;
        margin-bottom: 20px;
    }
}

.work-projects-list {
    margin-top: 2em;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
    flex-direction: column;
    gap: .5rem;

    .card-list {
        max-width: 100%;
        margin-bottom: 20px;
    }
}