RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\..]+)$ $1.php [NC,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^mashasupix\.com [NC]
RewriteRule ^(.*)$ http://www.mashasupix.com/$1 [L,R=301]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.mashasupix\.com [NC]
RewriteRule ^(.*)$ http://mashasupix.com/$1 [L,R=301]