button {
    cursor: pointer;
    padding: 1.3rem 2.7rem;
    min-width: fit-content;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s ease;
}

.live {
    color: $berry;
    border: 1px solid $berry;
    background-color: rgba(255, 172, 204, .5);
}

.code {
    color: $stormy;
    border: 1px solid $stormy;
    background-color: rgba(196, 203, 231, .5);
}

.live:hover {
    background-color: rgba(255, 172, 204, 1);
    color: $white;
    border: 1px solid $babypink;
}

.code:hover {
    background-color: rgba(196, 203, 231, 1);
    color: $white;
    border: 1px solid $icy;
}