// = BUTTONS STYLING = //

button {
    min-width: max-content;
    padding: 1.3rem 2.5rem;
    border: 1px solid;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease;
}

.live {
    color: $berry;
    background-color: rgba(255, 172, 204, .5);
    border-color: $berry;

    &:hover {
        color: $white;
        background-color: rgba(255, 172, 204, 1);
        border-color: $babypink;
    }
}

.code {
    color: $stormy;
    background-color: rgba(196, 203, 231, .5);
    border-color: $stormy;

    &:hover {
        color: $white;
        background-color: rgba(196, 203, 231, 1);
        border-color: $icy;
    }
}

// = STYLING BREAKPOINTS = //

@media only screen and (max-width: 568px) {
    button {
        min-width: 160px;
        font-size: .8rem;
    }
}