// = GRID CARD STYLES = //

.card {
    width: 100%;
    gap: 15px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: cardDisplay .5s forwards;
    position: relative;
    cursor: pointer;

    .description {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .cover img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        cursor: pointer;
    }

    .cover .video-poster {
        display: none;
    }

    .cover video {
        width: 100%;
        height: auto;
        border-radius: 10px;
        cursor: pointer;
        aspect-ratio: 1.57;
        width: 100%; /* Or any desired width */
        height: auto;
    }

    h3 {
        cursor: pointer;
        width: 90%;
    }

    a {
        text-decoration: none;
    }

    p {
        line-height: 150%;
        width: 90%;
    }

    .cover  {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s ease;
        border: $white solid 1px;
        position: relative;
    }
}

.card:hover .cover {
    padding: 5%;
    border: $black 1px solid;

    img {
        border-radius: 0;
    }

    video{
        border-radius: 0;
    }

    .cover .video-poster {
        border-radius: 10px;
    }
}

// = LIST CARD STYLES = //

.card-list {
    position: relative;
    cursor: pointer;
    gap: 3rem;
    height: min-content;
    display: flex;
    flex-direction: row;
    padding: clamp(10px, 2vw, 20px);
    border: 1px solid $black;
    transition: background .3s;
    animation: cardDisplay .5s forwards;

    .cta {
        position: absolute;
        width: 35px;
        bottom: 0;
        right: 0;
        transition: all .3s ease;
        padding: 1rem;
    }

    .cover {
        width: clamp(200px, 35%, 400px);
    }

    .cover img,
    .cover video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
        transition: all .3s ease;
    }

    .description {
        width: 60%;
        display: flex;
        gap: clamp(0.5rem, 1vw, 1rem);;
        flex-direction: column;
        justify-content: center;
    }

    h3 {
        cursor: pointer;
    }

    &:hover {
        border: $berry solid 1px;

        .cta {
            transform: rotate(-90deg);
        }

        .cover img,
        .cover video {
            border-radius: 0;
        }
    }
}

.tags {
    display: flex;
    gap: 10px;
    max-width: max-content;
    flex-wrap: wrap;
    width: 87%;
}

.pill-pink {
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    font-size: clamp(11px, 2vw, 14px); 
    padding: clamp(5px, 1vw, 7px) clamp(20px, 3vw, 25px);
    border: 1px solid $ribbon;
    color: $ribbon;
    border-radius: 20px;
}

.pill-blue {
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    font-size: clamp(11px, 2vw, 14px); 
    padding: clamp(5px, 1vw, 7px) clamp(20px, 3vw, 25px);
    color: $blue;
    border: 1px solid $blue;
    border-radius: 20px;
}

// = KEYFRAMES = //

@keyframes cardDisplay {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

// = DISABLE HOVERS ON MOBILE = //
@media (hover: none) and (pointer: coarse) {
    .card  {
    
        .cover:hover {
            padding: 0;
            border: $white 1px solid;
        
            img {
                border-radius: 10px;
            }
        
            video:hover {
                border-radius: 10px;
            }

            .cover .video-poster:hover {
                border-radius: 10px;
            }
        }
    }
}