/* FILTERING MENU */

.filter {
    box-sizing: border-box;
    position: relative;
    font-size: 1.25rem;
    font-family: "Space Mono", monospace;
}

.select {
    border: 1px solid black;
    background: #FFE0F2;
    color: $black;
    border-radius: .5rem .5rem 0 0;
    border-bottom: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
    padding: 1.8rem 1.3rem 1.3rem 1.3rem;
}

.caret {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 8px solid #000000;
    transition: 0.3s;
}

.menu {
    list-style: none;
    padding: 0.2rem 0.5rem;
    background: rgba(255, 224, 242, .9);
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 .5rem .5rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 999;
    display: block;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.2em 0;
    border-radius: 0.5em;
    cursor: pointer;
    color: $ribbon;
    text-transform: uppercase;
}

/* Apply hover effect and selected state styling */
.menu li:hover {
    background: rgba(255, 148, 209, 0.3);
}

.selected {
    background: rgba(255, 148, 209, 0.3);
}

.filter.active .caret {
    transform: rotate(90deg);
}

.filter.active .menu {
    max-height: 300px; /* Adjust based on your content */
}

// = CODE SNIPPET DROPDOWN STYLING = //

.code-show {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;

    .select {
        background: #FFE0F2;
        color: black;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px black solid;
        border-radius: .5em;
        cursor: pointer;
        transition: background .3s;
        padding: 1.3rem;
    }

    .select:hover {
        background: #fccee8;
    }

    .caret {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 8px solid #000000;
        transition: .3s;
    }

    .code {
        margin-top: 1rem;
        list-style: none;
        padding: 2rem;
        background: #ffe0f2;
        border: 1px solid black;
        border-radius: .5rem;
        top: 5rem;
        opacity: 0;
        display: none;
        transition: .2s;

        pre {
            background-color: #131313;
            color: #d8dee9;
            text-wrap: wrap;
            padding: 20px;
            font-size: 12px;
            border-radius: 8px;
            overflow: auto;
            font-family: 'Courier New', Courier, monospace;
        }

        .code-comment {
            color: #636363;
        }

        .code-blue {
            color: #0CE3E5;
    }

        .code-pink {
            color: #b14395;
        }

        .light-pink-code {
            color: #E09ECE;
        }

        .code-light {
            color: #DDDDDD;
        }

        img {
            border-radius: 7px;
        }
    }

    // JS classes
    .select-clicked {
        border: 1px $berry solid;
    }
    .caret-rotate {
        transform: rotate(180deg);
    }
    .active {
        color: $berry !important;
    }

    .menu-open {
        display: block;
        opacity: 1;
    }
}

.filter * {
    box-sizing: border-box;
}

// JS classes
.select-clicked {
    border: 1px $berry solid;
}

.caret-rotate {
    transform: rotate(180deg);
}

.active {
    // font-weight: 600;
    color: $black;
}

.menu-open {
    display: block;
    opacity: 1;
    animation: menuOpen .5s forwards;
}

// = dropdown animation = //

@keyframes menuOpen {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}