// = FILTERING DROPDOWN STYLING = //

.filter, .code-show {
    position: relative;
    font-size: 1.25rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;

    .select {
        background: #FFE0F2;
        color: black;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px black solid;
        border-radius: .5em;
        cursor: pointer;
        transition: background .3s;
        padding: 1.3rem;
    }

    .select:hover {
        background: #fccee8;
    }

    .caret {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 8px solid #000000;
        transition: .3s;
    }

    .menu, .code {
        list-style: none;
        padding: .5rem;
        background: rgba(255, 224, 242, .9);
        border: 1px solid black;
        border-radius: .5rem;
        position: absolute;
        top: 5rem;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        max-height: 0;  /* Initially hidden */
        display: block; /* We will control visibility with max-height */
        overflow: hidden;
        transition: max-height .3s ease, opacity .3s ease;
        z-index: 999;

        li {
            padding: .7em .5em;
            margin: .2em 0;
            border-radius: .5em;
            cursor: pointer;
            color: $ribbon;
            text-transform: uppercase;
        }

        li:hover {
            background: rgba(255, 148, 209, 0.3);
        }
    }

    // JS classes for animation control
    .menu-open {
        max-height: 500px; /* Adjust based on your dropdown content height */
    }

    .select-clicked {
        border: 1px $berry solid;
    }

    .caret-rotate {
        transform: rotate(180deg);
    }

    .active {
        font-weight: 600;
        color: $berry !important;
    }
}

.filter * {
    box-sizing: border-box;
}

// = dropdown animation = //

@keyframes menuOpen {
    0%      { opacity: 0; max-height: 0; }
    100%    { opacity: 1; max-height: 500px; } /* Adjust max-height based on content */
}
