/* FOOTER */

footer {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.running-line {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    line-height: 1;
    background-color: rgba(227, 106, 152, .45);
    margin-bottom: 3%;
}

.running-line ul {
    list-style: none;
    display: flex;
}

.running-line ul li {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    margin-left: 5px;
}

.running-line ul li p {
    margin: 0;
    padding: 0;
    line-height: 0;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact-wrap {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.contact-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;

    ul {
        list-style: none;
    }

    .email {
        text-transform: lowercase;
    }

    ul li a {
        color: $ribbon;
    }

    ul li a:hover {
        color: $berry;
    }

    .social-links {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        li.inst {
            background-image: url(../assets/img/inst.png);
            background-size: cover;
            width: 55px;
            height: 55px;
        }
        
        li.git {
            background-image: url(../assets/img/git.png);
            background-size: cover;
            width: 55px;
            height: 55px;
        }

        li.linkdn {
            background-image: url(../assets/img/linkdn.png);
            background-size: cover;
            width: 55px;
            height: 55px;
        }

        li {
            transition: transform .3s;
        }

        li:hover {
            animation: icon .3s ease-in forwards;
        }
    }
}

.contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;

    p {
        font-size: 20px;
    }

    .graphic {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        img {
            width: 60%;
            height: auto;
            margin-top: 5%;
        }
    }

}

.contact-me {
    font-size: 20px;
}

.footer-bottom {
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-bottom: 3%;

    a {
        color: black;
        scroll-behavior: smooth;
        font-size: 20px;
    }
}

@keyframes icon {
    50% {
        scale: 1.1;
    } 
}

