/* FOOTER */

footer {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.running-line {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    line-height: 1;
    background-color: rgba(227, 106, 152, .45);
    margin-bottom: 3%;
}

.running-line ul {
    list-style: none;
    display: flex;
}

.running-line ul li {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    margin-left: 5px;
}

.running-line ul li p {
    margin: 0;
    padding: 0;
    line-height: 0;
    color: $black;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact-wrap {
    width: 95%;
    margin-bottom: 3rem;
}

.contact-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;

    ul {
        list-style: none;
    }

    .email {
        text-transform: lowercase;
    }

    ul li a {
        color: $ribbon;
    }

    ul li a:hover {
        color: $berry;
    }

    .social-links {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        li.inst {
            width: 55px;
            height: 55px;
            display: flex;

            a {
                width: 100%;
                height: 100%;
                background-image: url(../assets/img/inst.svg);
                background-size: cover;
                color: transparent;
            }

            a:hover {
                background-image: url(../assets/img/instreverse.svg);
            }
        }
        
        li.git {
            width: 55px;
            height: 55px;
            display: flex;

            a {
                width: 100%;
                height: 100%;
                background-image: url(../assets/img/git.svg);
                background-size: cover;
                color: transparent;
            }

            a:hover {
                background-image: url(../assets/img/gitreverse.svg);
            }
        }

        li.linkdn {
            width: 55px;
            height: 55px;
            display: flex;

            a {
                width: 100%;
                height: 100%;
                background-image: url(../assets/img/linkdn.svg);
                background-size: cover;
                color: transparent;
            }

            a:hover {
                background-image: url(../assets/img/linkdnreverse.svg);
            }
        }

        li {
            transition: transform .3s;
        }

        li:hover {
            animation: icon .3s ease-in forwards;
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;

    p {
        font-size: 20px;
    }

    .graphic {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        img {
            width: 60%;
            height: auto;
            margin-top: 5%;
        }
    }

}

.contact-me {
    font-size: 20px;
}

.footer-bottom {
    display: flex;
    width: 95%;
    justify-content: space-between;
    color: $black;
    text-decoration: none;
    margin-bottom: 5rem;
    font-size: 20px;


    a {
        color: black;
        scroll-behavior: smooth;
        font-size: 20px;
    }
}

@keyframes icon {
    50% {
        scale: 1.1;
    } 
}

@media screen and (max-width: 568px) {

    footer {
        height: min-content;
    }

    .contact-info {
        width: 100%;
        margin-bottom: 5rem;
    }
    
    .contact-form {
        flex-direction: column-reverse;
        text-align: center;
        gap: 3rem;
        align-items: center;

        .graphic {
            width: 80%;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .footer-bottom {

        h4 {
            font-size: 16px;
        }
    
        a {
            font-size: 16px;
        }
    }
}


