//= FOOTER =//

footer {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    animation: load 1s ease;
}

.running-line {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    line-height: 1;
    background-color: rgba(227, 106, 152, .45);
    margin-bottom: 2rem;
}

.running-line ul {
    list-style: none;
    display: flex;
}

.running-line ul li {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    margin-left: 5px;
}

.running-line ul li p {
    margin: 0;
    padding: 0;
    line-height: 0;
    color: $black;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact-wrap {
    width: 95%;
    margin-bottom: 2rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;

    p {
        width: 50%;
    }

    ul {
        list-style: none;
    }

    .email {
        text-transform: lowercase;
    }

    .social-links {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        li {
            transition: transform .3s ease;

            svg {
                .background {
                    transition: all .3s;
                    fill: rgba(255, 178, 224, .5);
                }
    
                .logo {
                    transition: all .3s;
                    fill: $black;
                }
            }
        }

        li:hover {
            animation: icon .3s ease;

            svg {
                .background {
                    fill: $black;
                }
    
                .logo {
                    fill: rgba(255, 178, 224, 1);
                }
            }
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;

    p {
        font-size: 20px;
    }

    .graphic {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        img {
            width: 60%;
            height: auto;
            margin-top: 5%;
        }
    }

}

.contact-me {
    font-size: 20px;
}

.footer-bottom {
    display: flex;
    width: 95%;
    justify-content: space-between;
    color: $black;
    text-decoration: none;
    margin-bottom: 4rem;
    font-size: 20px;
}

@keyframes icon {
    50% {
        transform: scale(1.1);
    } 
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 568px) {
    footer {
        height: min-content;
    }

    .contact-info {
        width: 100%;
        margin-bottom: 5rem;

        p {
            width: 100%;
        }

        ul {
            justify-content: center;
            
            li {
                text-align: center;
            }
        }
    }
    
    .contact-form {
        flex-direction: column-reverse;
        text-align: center;
        gap: 3rem;
        align-items: center;

        .graphic {
            width: 80%;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .contact-form {

        p {
            font-size: 16px;
        }
    }
    
    .contact-info {
        margin-bottom: 3rem;
    }
}


/* Disable hover effects for mobile or touch devices */
@media (hover: none) and (pointer: coarse) {
    .contact-info .social-links {

        li:hover {
        animation: icon .3s ease;

            svg {
                .background {
                    fill: rgba(255, 178, 224, .5);
                }

                .logo {
                    fill: $black;
                }
            }
        }
    }
}

