// = NAV BAR STYLING = //

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: fixed;
    top: 0;
    z-index: 998;
    width: 96%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 17px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(255, 178, 224, 0.3);
    color: $black;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 7px 35px;
    border-radius: 35px;
    cursor: pointer;
    transition: all .3s ease;
}

.nav-links li a:hover {
    border-radius: 0px;
    background-color: rgba(255, 178, 224, 0.5);
}

.sharp {
    border-radius: 0px !important;
}

.sharp:hover {
    border-radius: 35px !important;
}

.logo {
    width: 50px;
    height: 60px;
    cursor: pointer;

    svg {
        fill: $black;
        transition: all .3s;
        overflow: visible;

        path {
            transition: fill 0.3s ease, stroke 0.3s ease, stroke-width 0.3s ease;
        }
    }
}

a:hover svg path{
    fill: $berry;
}


/* BOTTOM PERCENTAGE BAR STYLING */

.bottom-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: end;
    position: fixed;
    bottom: 0;
    z-index: 998;

    p {
        padding: 15px 40px;
        mix-blend-mode: difference;   
        background-color: rgba(255, 178, 224, 0.5);
    }
}

// = OFF SCREEN MENU STYLING = //

.off-screen-menu {
    background-color:  rgba(110, 121, 167, 0.8);;
    z-index: 999;
    height: 100vh;
    width: 100%;
    max-width: 834px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
    z-index: 10;
}

.off-screen-menu ul {
    width: 90%;
    flex-direction: column;
    background: none;
    list-style: none;
    text-align: left;
}

.off-screen-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 4vmin;
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    display: none;
    margin-right: 20px;
    z-index: 999;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

// = NAV MENU STYLING BREAKPOINT = //

@media (max-width: 834px) {

    .nav-links {
        display: none;
    }

    .ham-menu {
        display: block;
    }
}
