// = NAV BAR STYLING = //

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    position: fixed;
    top: 0;
    z-index: 998;
    width: 98%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 17px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(255, 178, 224, 0.3);
    color: $black;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 7px 35px;
    border-radius: 35px;
    cursor: pointer;
    transition: all .3s ease;

    &.current {
        border-radius: 0;
        transition: border-radius 0s, background .3s;
    }
}

.current {
    border-radius: 0;
    transition: all 0s;
}

.nav-links li a:hover {
    border-radius: 0px;
    background-color: rgba(255, 178, 224, 0.5);
}

.sharp {
    border-radius: 0px !important;
}

.sharp:hover {
    border-radius: 35px !important;
}

.logo {
    width: 50px;
    height: 60px;
    cursor: pointer;

    svg {
        fill: $black;
        transition: all .3s;
        overflow: visible;

        path {
            transition: fill 0.3s ease, stroke 0.3s ease, stroke-width 0.3s ease;
        }
    }
}

a:hover svg path{
    fill: $babypink;
}


/* BOTTOM PERCENTAGE BAR STYLING */

.bottom-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: end;
    position: fixed;
    bottom: 0;
    z-index: 5;

    p {
        padding: 15px 40px;
        mix-blend-mode: difference;   
        background-color: rgba(255, 178, 224, 0.5);
    }
}

// = OFF SCREEN MENU STYLING = //

.off-screen-menu {
    background-color:  rgba(110, 121, 167, 0.8);
    height: 100vh;
    width: 100%;
    max-width: 834px;
    position: fixed;
    top: 0;
    right: -100%;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ul {
        width: 90%;
        flex-direction: column;
        background: none;
        list-style: none;
        text-align: left;
    }
    
    ul li a {
        color: $white;
        text-decoration: none;
        font-size: 1.7rem;

        &:hover {
            color: $babypink;
        }
    }

    .intro-text {
        margin-top: 150px;
        width: 90%;

        p {
            width: 100%;
            text-align: left;
            color: $white;
        }
    }

    .mobile-menu-socials {
        width: 90%;
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        .email {
            text-transform: lowercase;
            color: $white;
        }

        .email:hover {
            color: $babypink;
        }

        .social-links {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 15px;
    
            li {
                transition: transform .3s ease;
    
                svg {
                    .background {
                        transition: all .3s;
                        fill: rgba(255, 178, 224, .5);
                    }
        
                    .logo {
                        transition: all .3s;
                        fill: $black;
                    }
                }
            }
    
            li:hover {
                animation: icon .3s ease;
    
                svg {
                    .background {
                        fill: $white;
                    }
        
                    .logo {
                        fill: rgba(255, 178, 224, 1);
                    }
                }
            }
        }
    }
}

.off-screen-menu.active {
    right: 0;
    z-index: 900;
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    display: none;
    z-index: 999;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: $black;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: $black
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.mobile-running-line {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    line-height: 1;
    background-color: rgba(227, 106, 152, .45);
    margin-bottom: 100px;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    
    ul li {
        display: grid;
        place-items: center;
        flex-shrink: 0;
        margin-left: 10px;
        line-height: 0;
        font-family: "Space Mono", monospace;
        color: $white;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        flex-direction: row;
        text-transform: uppercase;
    }
}

// = NAV MENU STYLING BREAKPOINT = //

@media (max-width: 834px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3%;
        position: fixed;
        top: 0;
        z-index: 998;
        width: 97%;
    }

    .nav-links {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    .logo {
        width: 40px;
        height: 50px;
        cursor: pointer;
    }
}

/* Disable hover effects for mobile or touch devices */
@media (hover: none) and (pointer: coarse) {
    .nav-links li a:hover {
        background-color: rgba(255, 178, 224, 0.3); 
        border-radius: 35px; 
    }

    .off-screen-menu ul li a:hover {
        color: $white; 
    }

    .social-links li:hover {
        animation: none;

        svg {
            .background {
                fill: rgba(255, 178, 224, .5); 
            }
    
            .logo {
                fill: $black;
            }
        }
    }

    .footer-bottom a:hover {
        color: $black; 
    }
}