/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 96%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 17px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(255, 178, 224, 0.3);
    color: $black;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 7px 35px;
    border-radius: 35px;
    cursor: pointer;
    transition: all .3s ease;
}

.nav-links li a:hover {
    border-radius: 0px;
    background-color: rgba(255, 178, 224, 0.5);
}

.sharp {
    border-radius: 0px !important;
}

.sharp:hover {
    border-radius: 35px !important;
}

.logo {
    width: 50px;
    height: 60px;
    cursor: pointer;

    svg {
        fill: $black;
        transition: all .3s;
        overflow: visible;

        path {
            transition: fill 0.3s ease, stroke 0.3s ease, stroke-width 0.3s ease;
        }
    }
}

a:hover svg path{
    fill: $berry;
}


/* BOTTOM BAR */

.bottom-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: end;
    position: fixed;
    bottom: 0;
    z-index: 999;

    p {
        padding: 15px 40px;
        mix-blend-mode: difference;   
        background-color: rgba(255, 178, 224, 0.5);

    }
}