h1 {
    font-size: 96px;
    font-family: "Space Mono", monospace;
    font-weight: 500;
}

h2 {
    font-size: 76px;
    font-family: "Inter", monospace;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    font-family: "Space Mono", monospace;
    font-weight: 200;
}

a {
    font-size: 22px;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
    color: $berry;
    transition: all .3s;
    cursor: pointer;
}

a:hover {
    color: $babypink;
}

