h1 {
    font-size: 4.7rem;
    font-family: "Space Mono", monospace;
    font-weight: 500;
}

h2 {
    font-size: 4rem;
    font-family: "Inter", monospace;
    font-weight: 600;
}

h3 {
    font-size: 1.65rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
}

h4 {
    font-size: 1.25rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
}

p {
    font-size: .9rem;
    line-height: 1.5;
    font-family: "Space Mono", monospace;
    font-weight: 200;
}

a {
    font-size: 1.375rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
    color: $berry;
    transition: all .3s;
    cursor: pointer;
    max-width: fit-content;
}

h5 {
    font-size: 1.375rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
}

q {
    font-size: 2.5rem;
}

a:hover {
    color: $stormy;
}

.context a {
    color: $ribbon;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-decoration: none;
    text-transform: initial;
    display: inline-block;
    transition: all 0.3s ease-out;

    &:hover {
        text-decoration: underline;
    }
}

.context {
    color: $ribbon;
    cursor: pointer;
}

@media only screen and (min-width: 1620px) {

    p,
    .context a {
        font-size: 1rem;
    }

    q {
        font-size: 2.7rem;
    }
}

@media only screen and (max-width: 1420px) {

    h1 {
        font-size: 4.7rem;
    }
}

@media only screen and (max-width: 1080px) {

    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 1.1rem;
    }

    q {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 720px) {

    h1 {
        font-size: 2.8rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    p,
    .context a {
        font-size: .8rem;
    }

    q {
        font-size: 1.8rem;
    }

    a {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 520px) {

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }

    q {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 420px) {

    h1 {
        font-size: 1.6rem;
    }
}