h1 {
    font-size: 4.7rem;
    font-family: "Space Mono", monospace;
    font-weight: 500;
}

h2 {
    font-size: 4rem;
    font-family: "Inter", monospace;
    font-weight: 600;
}

h3 {
    font-size: 1.65rem;
    font-family: "Space Mono", monospace;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-size: 1.25rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
}

p {
    font-size: .9rem;
    line-height: 1.5;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    z-index: 100;
}

a {
    font-size: 1.375rem;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    text-transform: uppercase;
    color: $berry;
    transition: all .3s;
    cursor: pointer;
}

q {
    font-size: 2.5rem;
}

a:hover {
    color: $babypink;
}

@media only screen and (min-width: 1620px) {

    p {
        font-size: 1rem;
    }

    q {
        font-size: 2.7rem;
    }
}

@media only screen and (max-width: 1420px) {

    h1 {
        font-size: 4.7rem;
    }
}

@media only screen and (max-width: 1080px) {

    h1 {
        font-size: 3.9rem;
    }

    h2 {
        font-size: 3rem;
    }

    q {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 720px) {

    h1 {
        font-size: 2.8rem;
    }

    p {
        font-size: .8rem;
    }

    q {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 520px) {

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 420px) {

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}