// Master CSS File

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@import "vendor/normalize";

@import "variables";
@import "text";
@import "cards";

@import "nav";
@import "footer";

@import "home";


