// Master SCSS File

@import "vendor/normalize";
@import "variables";
@import "text";
@import "grid";

html {
    overflow-y: visible;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $white;
    color: $black;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

main {
    padding-top: 140px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    margin-bottom: 12rem;
}

::-webkit-scrollbar {
    width: 0;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: auto !important;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

#cursor-follower {
    width: 8px;
    max-width: min-content;
    height: 8px;
    border: $berry 1px solid;
    aspect-ratio: 1;
    background-color: $blue;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-out, height 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
}
#cursor-follower.hover {
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: $berry 1px solid;
    backdrop-filter: blur(5px);

    animation: opacity 0.3s forwards;
}
.cursor-text {
    color: $stormy;
    font-size: 12px;
    opacity: 0;
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    font-weight: 400;
    animation: opacity 0.3s forwards;
    text-align: center;
}
#cursor-follower.hover .cursor-text {
    animation: opacity 0.3s forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

// * COMPONENTS * //
@import "cards";
@import "buttons";
@import "dropdowns";
@import "nav";
@import "footer";

// * PAGES * //
@import "home/page";
@import "about/page";
@import "work/page";
@import "projects/page";

// * PROJECTS *//
@import "projects/theblue";
@import "projects/ezt";
@import "projects/meowdy";
@import "projects/kabinet";



