// Master CSS File

@import "vendor/normalize";

@import "variables";
@import "text";
@import "grid";

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // max-width: 1730px;
}

@import "cards";
@import "buttons";
@import "dropdowns";
@import "nav";
@import "footer";

// HOME PAGE
@import "home/hero";
@import "home/banner";
@import "home/projects";

// ABOUT PAGE
@import "about/about";

// WORK PAGE
@import "work/header";
@import "work/projects";

// PROJECTS
@import "projects/project";



