.banner {
    height: 100vh;
    min-height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/pink.jpg);
    background-position: bottom;
    background-size: cover;
    animation: bannerLoad 1s forwards ease-out;

}

@keyframes bannerLoad {
    0% {

        opacity: 0;
        transform: translateY(30vh);

    } 100% {

        opacity: 1;
        transform: translateY(0);

    }
}

.banner-section {
    width: 95%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-image img{
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 70px;
    border: 1px solid black;
    background-color: white;
    justify-content: space-around;
    width: 50vmin;
    height: 60vmin;
    max-height: 950px;
    max-width: 800px;
}

.banner-image {
    position: relative;
    height: fit-content;
}

.banner-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background: rgba(227, 106, 152, 0.3); 
    backdrop-filter: blur(3px); 
    transition: opacity 0.7s ease, backdrop-filter 0.7s ease;
}

.banner-image:hover::before {
    opacity: 0;
    backdrop-filter: blur(0px); 
}

.intro {
    text-align: center;
}

.banner-right-text {
    text-align: end;

    p {
        margin-bottom: 30px;
    }

    .important {
        text-transform: uppercase;
        color: var(--berry);
        font-size: 20px;
    }
}

@media only screen and (max-width: 1420px) {

    .banner-section  {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        
        .banner-right-text {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .banner {
        height: 90vh;
    }
}

@media only screen and (max-width: 720px) {

    .banner {
        height: 80vh;
    }
}

@media only screen and (max-width: 520px) {

    .banner {
        height: 80vh;
    }
}

@media only screen and (max-width: 420px) {

    .banner {
        height: 80vh;
    }
}