// = HOME PAGE HERO STYLING = //

.hero {
    position: relative;
    height: 60vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        max-width: clamp(320px, 90vw, 900px);
        padding: 20px;
        line-height: 1;
        text-align: justify;
        text-transform: uppercase;

        .inter {
            font-family: "Inter", sans-serif;
            font-weight: 100;
        }
    }

    .logo-spinner {
        position: absolute;
        z-index: -1;
        width: 350px;
        height: 353px;
        margin-bottom: 160px;
        margin-right: 300px;
        opacity: 0;
        animation: spinnerLoad 1s .5s forwards;
    }
}

// = KEYFRAMES =//

@keyframes spinnerLoad {
    0% { opacity: 0; } 
    100% { opacity: 1; }
}

// = STYLING BREAKPOINTS =//

@media screen and (max-width: 834px) {
    .hero {
        .logo-spinner {
            scale: 2;
            left: 65%;
            top: 20%;
        }
    }
}