// = HOME PAGE HERO STYLING = //

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-bottom: 0;

    h1 {
        max-width: clamp(320px, 90vw, 900px);
        padding: 20px;
        line-height: 1;
        text-align: justify;
        text-transform: uppercase;

        .inter {
            font-family: "Inter", sans-serif;
            font-weight: 100;
        }
    }
    
    .logo-spinner {
        width: 350px;
        height: 353px;
        position: absolute;
        margin-bottom: 160px;
        margin-right: 300px;
        z-index: -1;
        opacity: 0;
        animation: spinnerLoad 1s .5s forwards;
    }
}

// = KEYFRAMES =//

@keyframes spinnerLoad {

    0% { opacity: 0; } 
    100% { opacity: 1; }

}

@keyframes textLoad {

    0% {
        transform: translateY(100px);
        opacity: 0;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes spanLoad {

    0% {
        transform: translateY(100px);
    } 100% {
        transform: translateX(0);
    }
}

// = STYLING BREAKPOINTS =//

@media screen and (max-width: 834px) {
    
    .hero {

        .logo-spinner {
            scale: 2;
            left: 65%;
            top: 20%;
        }
    }
}