// = FEATURED PROJECT STYLING =//

.featured-project {
    width: 85%;
    max-width: 1700px;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;

    .project-video {
        padding: 0 0 0 70px;
        display: flex;
        justify-content: center;
        align-content: center;

        video {
            width: 100%;
            height: auto;
            cursor: pointer;
            // display: none;
        }

        img {
            width: 100%;
            height: auto;
            cursor: pointer;
            display: none;
        }
    }

    .project-description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3rem;

        .text {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        h3 {
            margin-top: 4rem;
        }
    }
}

// = OTHER PROJECTS STYLING =//

.home-projects {
    width: 95%;
    max-width: 2100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .desktop-link {
        display: block;
    }

    .breakpoint-link {
        display: none;
        margin-top: 3rem;
        text-align: center;
    }

    .cards {
        display: flex;
        gap: 20px;

        .card {
            width: 50%;
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// = STYLING BREAKPOINTS =//

@media only screen and (max-width: 1080px) {
    .featured-project{
        width: 95%;
        
        h2, h3 {
            text-align: center;
            width: 100%;
            margin: 0 !important;
        }

        .project-video {
            padding: 0;

            video {
                width: 80%;
            }
        }
        
        .project-description {
            padding: 60px;
        }
    }

    .home-projects {
        .desktop-link{
            display: none;
        }

        .breakpoint-link {
            display: block;
        }
    }
}
