.featured-project {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;

    h2 {
        text-align: left;
        width: 75%;
        margin-bottom: 5rem;
    }
}

.project-wrap {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.project-video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 0 60px 60px;

    video {
        width: 80%;
        height: auto;
    }
}


.project-description {
    width: 50%;
    padding: 0 60px 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    h3 {
        margin-top: 5rem;
    }
}

.home-projects-wrap {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.home-projects {
    width: 95%;
    max-width: 1700px;
    display: flex;
    gap: 20px;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cards {
        display: flex;
        gap: 20px;

        .card {
            width: 50%;
        }
    }
}

.right {
    width: 50%;
}

@media only screen and (min-width: 2200px) {

    .home-projects {
        max-width: 1800px;
    }
}

@media only screen and (max-width: 1970px) {

    .featured-project {
        h2 {
            width: 85%;
            margin-bottom: 0;
            margin-top: 5rem;
        }
    }

    .project-wrap {
        width: 85%;
    }
}

@media only screen and (max-width: 1420px) {

    .featured-project {
        h2 {
            width: 90%;
        }
    }

    .project-wrap {
        width: 90%;
    }

    .project-description {
        padding: 0;
    }

    .project-video {
        padding: 0;
    }
}

@media only screen and (max-width: 1200px) {

    .featured-project {
        h2 {
            width: 85%;
            text-align: center;
        }

        h3 {
            margin-top: 0;
        }
    }

    .project-wrap {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;

        .project-description {
            width: 85%;
            margin-top: 5rem;
        }

        .project-video {
            width: 85%;
        }
    }

    .home-projects-wrap {
        flex-direction: column;

        .home-projects {
            flex-direction: column-reverse;

            a {
                text-align: center;
                margin-top: 5rem;
            }
        }

        .left,
        .right {
            width: 100%;
        }
    }


    
}

@media only screen and (max-width: 720px) {

    .featured-project {
        h2 {
            width: 85%;
        }
    }

    .project-wrap {
        .project-video {
            video {
                width: 100%;
            }
        }
    }
    
    .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .cards {
            flex-direction: column;
    
            .card {
                width: 100%;
            }
        }
    }
    
}