// FEATURED PROJECT

.featured-project {
    margin-top: 8rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;

    h2 {
        margin-bottom: 1rem;
    }
    
}

.project-wrap {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1500px;
}

.project-video {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 0 60px 60px;

    video {
        width: 80%;
        height: auto;
    }
}


.project-description {
    padding: 0 60px 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    .text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    h3 {
        margin-top: 5rem;
    }
}

// PROJECTS

.home-projects-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.home-projects {
    width: 95%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 20px;

    .card {
        width: 50%;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (max-width: 1080px) {

    .featured-project{

        h2, h3 {
            text-align: center;
            width: 100%;
            margin: 0 !important;
        }

    }

    .project-video,
    .project-description {
        padding: 60px;
    }

    

}
