@import 'fold1';
@import 'fold2';


.scroll-section {
    // width: 100%;
    height: 100vh;
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;

    .panel {
        height: 100vh;
        scroll-snap-align: center;
    }

    footer {
        scroll-snap-align: end;
    }
    
}

