.skills {
    margin-bottom: 10rem; 

    .cv {
        border: 1px #000000 solid;
        padding: 10%;
        transition: all .3s ease;
    
        img {
            height: 100%;
            width: 100%;
        } 
    }
    
    .cv:hover {
        border: 1px $berry solid;
        padding: 5%;
    
        & img {
            height: 100%;
            width: 100%;
            mix-blend-mode: hard-light;
        } 
    }

    .skills-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10rem;

        .skill-wrap {
            width: 70%;
            display: flex;
            justify-content: space-between;

            .skill-col {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            .design {
                color: $ribbon;
            }

            .dev {
                color: $blue;
            }
        }
    }
}

