.about-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}

.about-me-wrap {
    display: flex;
    width: 75%;
}

.about-card {
    width: 50%;
    display: flex;
    align-content: center;
    padding: 60px;

    img {
        width: 100%;
        height: auto;
    }
}


.about-description {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    .skill-wrap {
        display: flex;

        .skill-col {
            padding: 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .design {
                color: $berry;
            }

            .dev {
                color: $blue;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                list-style: none;
            }
        }
    }
}