.about-fold1 {
    margin-top: 150px;
    width: 95%;
    max-width: 1700px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10rem;

    h2 {
        animation: headerLoad .5s ease;
    }


    .about-description {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        animation: headerLoad 1s ease;

        h4,
        p,
        .contact-info {
            width: 90%;

            li {
                width: 70px;
                height: 70px;
            }

            .cv {
                margin-top: 2rem;
                width: fit-content;
            }
        }
    }

    .about-images {
        border: 1px black solid;
        padding: 10%;
        opacity: 0;
        animation: headerLoad 1s ease forwards;

        img {
            height: 100%;
            width: 100%;
            opacity: 0;
            animation: headerLoad 1s .2s ease forwards;
        }
    }
}

@keyframes headerLoad {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

