#insight {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 500;

    .text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 30%;
    }
}

#insight h2 {
    text-transform: uppercase;
    width: 30%;
    margin: 0;
    user-select: none;
}

.drag-item {
    width: 20vmin;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    /* mix-blend-mode:hard-light; */
    /* this looks cool */
}

.drag-item img {
    width: 100%;
    height: auto;
}