// = ABOUT ME STYLING pt.3 = //

#insight {
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0;

    .text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 30%;
    }

    h2 {
        text-transform: uppercase;
        width: 30%;
        margin: 0;
        user-select: none;
    }

    h4 {
        animation: textColor 5s infinite;
    }
}

.drag-item {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.drag-item img {
    width: 100%;
    height: auto;
}

.drag-item:nth-child(3) {
    top: 80%;
    left: 60%;
} //ssupix

.drag-item:nth-child(4) {
    top: 35%;
    left: 80%;
} //miau

.drag-item:nth-child(5) {
    top: 65%;
    left: 75%;
} //mx master

.drag-item:nth-child(6) {
    top: 70%;
    left: 5%;
} //flower

.drag-item:nth-child(7) {
    top: 5%;
    left: 15%;
} //teacup

.drag-item:nth-child(8) {
    top: 5%;
    left: 70%;
} //donut

.drag-item:nth-child(9) {
    top: 40%;
    left: 5%;

    img {
        width: 65%;
    }
} //headphones

// = KEYFRAMES = //

@keyframes textColor {
    0% { color: $babypink; } 
    20% { color: $ribbon; } 
    40% { color: $berry; } 
    60% { color: $blue; } 
    80% { color: $icy; } 
    100% { color: $babypink; }
}

// = STYLING BREAKPOINTS = //

@media only screen and (max-width: 1200px) {

    #insight {
        .text {
            width: 40%;
        }

        h2 {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 1080px) {

    .drag-item {
        scale: .8;
    }
}

@media only screen and (max-width: 568px) {

    #insight {
        .text {
            width: 60%;
        }

        h2 {
            width: 60%;
        }
    }
}