.about-fold1 {
    margin-top: 150px;
    width: 95%;
    max-width: 1700px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10rem;


    .about-description {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        h4,
        p,
        .contact-info {
            width: 90%;

            li {
                width: 70px;
                height: 70px;
            }

            .cv {
                margin-top: 2rem;
                width: fit-content;
            }
        }
    }

    .about-images {
        border: 1px black solid;
        padding: 10%;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

