// = EZT PROJECT STYLING = //

.ezt {
    
    .title {
        width: 95%;
        max-width: 1400px;
        margin-bottom: 0;

        h2 {
            width: 100%;
            color: $ribbon;
        }
    }

    .project-container {

        .buttons {
            margin-top: 0;

            .button-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: visible;
                gap: 1rem;
            }
        }

        .detail {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 5rem 2rem 5rem 2rem;
        
            h3 {
                margin-top: .5rem;
            }
        
            &.border {
                border: solid 1px $black;
            }
        
            p {
                font-family: 'Inter';
                font-weight: 300;
            }
        }

        .process {
            display: flex;
            flex-direction: column;
            gap: 6rem;
        
            h4 {
                margin-bottom: 1rem;
            }
        
            .grid {
                gap: 3rem;
            }
        
            .sp {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
        
                h2 {
                    margin-bottom: 1rem;
                }
            }
        
            .si img {
                width: 100%;
                height: auto;
            }
        }
        
        .showcase {
            img {
                width: 100%;
                height: auto;
                border: 1px $black solid;
            }
        
            .sp {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        
            .text-wrap {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
        
        .thoughts {
        
            .quote {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 2rem;
        
                q {
                    font-family: "Inter";
                    font-weight: 600;
                }
            }
        
            .visual {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        
                video {
                    width: 100%;
                    height: auto;
                    border: solid 1px $black;
                    margin-top: 2rem;
                }
        
                img {
                    width: 100%;
                    height: auto;
                    margin-top: 2rem;
                }
            }
        }
    }
}

