// = MASTER ARTIFACT PAGE STYLING = //

.title {
    width: 95%;
    max-width: 1400px;
    margin-bottom: 1rem;
    animation: titleLoad 1s ease;

    h2 {
        width: 100%;
        color: $black;
    }
}

.project-container {
    width: 95%;
    max-width: 1400px;
    border-radius: .5rem;
    border: $black solid 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: projectLoad 1s forwards ease-out;

    section {
        width: 70%;
        margin-bottom: 10rem;
    }

    .project-banner {
        width: 100%;
        max-height: 700px;
        overflow: hidden;
        margin-bottom: 3rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        video,
        img {
            width: 100%;
            height: auto;
            size: cover;
        }
    }
}

.more-projects {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    h2 {
        width: 95%;
        max-width: 1500px;
        margin-bottom: 12rem;
    }

    .project-scroll {
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 2rem;
        overflow: hidden;

        ul {
            display: flex;
            list-style: none;

            li {
                flex-shrink: 0;
                margin-left: 5px;
                display: grid;
                place-items: center;

                .card {
                    width: 500px;
                    min-width: 800px;
                    height: auto;
                }
            }
        }
    }
}

// = KEYFRAMES = //

@keyframes projectLoad {
    0% {
        opacity: 0;
        transform: translateY(70vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes titleLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// = STYLING BREAKPOINTS = //

@media only screen and (max-width: 834px) {
    .more-projects {
        margin-top: 1rem;
        margin-bottom: 6rem;
    
        h2 {
            margin-bottom: 6rem;
        }
    
        .project-scroll {
            ul {
                li {
                    .card {
                        min-width: 600px;
                    }
                }
            }
        }
    }
}

.outline {
    border: 1px $black solid;

    img {
        height: 100%;
    }
}

@media only screen and (max-width: 568px) {
    .project-container {
        section {
            width: 85%;
            margin-bottom: 6rem;
        }
    }

    .more-projects {
        margin-top: 1rem;
        margin-bottom: 4rem;
    
        h2 {
            margin-bottom: 6rem;
        }
    
        .project-scroll {
            ul {
                li {
                    .card {
                        min-width: 400px;

                        .pill-pink {
                            font-size: 12px;
                            padding: 7px 20px;
                        }
                        
                        .pill-blue {
                            font-size: 12px;
                            padding: 7px 20px;
                        }
                    }
                }
            }
        }
    }
}