.project-container {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 95%;
    max-width: 1700px;
    border-radius: .5rem;
    border: black solid 1px;

    section {
        width: 100%;
        margin-bottom: 8rem;
    }

    .project-banner {
        height: 60vh;
        overflow: hidden;
    }

    .project-banner video,
    .project-banner img {
        width: 100%;
        height: auto;
        border-radius: .5rem;
        
    }
}

.title {
    text-transform: uppercase;
}

