.project-container {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 95%;
    max-width: 1450px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;

    section {
        width: 80%;
        margin-bottom: 10rem;
    }

    .project-banner {
        height: 60vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-banner video,
    .project-banner img {
        width: 100%;
        height: auto;
        size: cover;
    }
}

.title p{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.button-wrap {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem 0rem 5rem 2rem;

    h3 {
        margin-top: .5rem;
    }

    &.border {
        border: solid 1px black;
    }

    p {
        font-family: 'Inter';
        font-weight: 300;
    }
}

.process {
    display: flex;

    .grid {
        gap: 5rem;
    }

    .sp {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h2 {
            margin-bottom: 1rem;
        }
    }

    .si img {
        width: 100%;
        height: auto;
    }
}

